@import '../../sass/main.scss';

.about {
    width:95%;
    margin: 0 auto;
    &_collapse{
        margin: auto;
        margin-top: 0px;
        margin-bottom: 31px;
        width:95%;
    }
}

.collapse_content {
    padding: 27px 27px 19px 18px;
}