/*@import '../../sass/main.scss';

.home{
    margin:0 auto;
}

.header {
    margin: 0 100px;
    width:1240px;
}

.banner {
    margin: 0 100px;
    width: 1240px;
}*/


@import '../../sass/main.scss';

.home{
    margin: 0 auto;
}