@import '../../sass/main.scss';

.singleCard{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
    //overflow: hidden;
    @media screen and (maw-width:1230px) {
        width:45%
    }

    @media screen and (max-width:768px){
       min-width: 335px;
    }
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h3 {
    color: $color-secondary;
    //position: absolute;
    font-weight: 500;
    font-size: 18px;

}