@import '../../sass/main.scss';

.collapse {
    @include flex(column, space-between, center);
    
    align-items: center;
    &_title{
        @include flex(row, space-between,center);
        background-color: $color-secondary;
        color: #fff;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        width: 100%;
        height: 52px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &_content{
        display:flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 400;
        gap:5px;
        visibility: visible;
        &_hidden{
            visibility: hidden;
        }
    }
}