@import '../../sass/main.scss';


.header{
    @include flex(row, space-between, center);
    max-width: 95%;
    //width: 95%;
    height: 68px;
    margin: 0 auto;
    
    @media screen and (max-width:600px) {
        height: 47px;
    }
}

img {
    height: 68px;
    
    @media screen and (max-width:600px) {
        height: 47px;
        width: 145px;
    }
}