@import '../../sass/main.scss';

.gallery {
  @include flex(row, space-between, center);
  flex-wrap: wrap;

  width: 95%;
  gap: 50px;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 25px;
  margin: 0 auto;
  @media screen and (max-width: 1230px) {
    gap: 60px;
  }
}
