@import '../../sass/main.scss';

.footer{
    @include flex(column, center,center);
    background-color: black;
    height: 209px;
    width: 1440px;
    gap:50px;
    
    margin-bottom:40px;
    
    &__img{
        width: 122px;
        height: 39px;
    }
    &__text{
        color:white;
    }
}