@import '../../sass/main.scss';

.div{
    position: absolute;
    top:171px;
    width: 1440px;
    height: 223px;
    margin: auto;
}

.banner{
    width:1440px;
    height: 223px;
    margin: auto;
    position: relative;
    top:223px;
    border-radius: 25px;
}

.text{
    position: relative;
    top:78px;
    text-align: center;
    color:white;
    font-size: 48px;
    margin:0;
}