@import '../../sass/main.scss';

.notFound{
    color: $color-secondary;
    &__error{
        @include flex(column, center, center);
        &__title{
            font-weight: 700;
            font-size: 288px;
        }
    }
}
